* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
    background-image: url('./assets/warm.jpg');
    background-size: cover;
    background-position: bottom;
    transition: 0.4s ease-out;

}

.app.sunny {
    background-image: url('./assets/sunny.jpg');
}

.app.default {
    background-image: url('./assets/default.jpg');
}

main {
    min-height: 100vh;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    padding: 25px;
    position: relative;
}

.section__searchField {
    display: flex;
    width: 100%;
    margin: 0 0 30px;
}

.section__searchField button {
    border: none;
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
    width:50px;
    text-align: center;
}

.section__searchField .search-bar {
    width: 100%;
    display: block;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.5s ease-out;

}

.section__searchField .search-bar:focus {
    background-color: rgba(255, 255, 255, 1);
}

.section__weatherTemperature .date {
    color: #FFF;
    font-size: 20px;
    font-weight: bold;


}

.section__weatherTemperature .location {
    color: #FFF;
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    padding: 40px 0 0;
}

.section__weatherTemperature .temp {
    color: #FFF;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 25px auto;
    padding: 15px 20px;
    border-radius: 15px;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;


}

.section__weatherTemperature .__temperature {
    text-align: center;
}

.section__weatherTemperature .status {
    color: #FFF;
    text-align: center;
    font-size: 22px;

}

.error__message {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 25px;
    box-shadow: 3px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

.error__message h1 {
    text-align: center;
    color: darkred;
    font-size: 20px;

}

.error__message p {
    color: #FFF;
    font-size: 25px;
    padding: 20px 0;
    text-align: center;

}


/* SECTION WEATHER BOX */


.section__weatherBox .weather-box {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    text-align: center;



}

.section__weatherBox .weather-item {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 15px auto;
    padding: 20px 20px;

    border-radius: 15px;

    width: 100%;

}

.section__weatherBox .weather-item span {
    font-size: 16px;

}

.section__weatherBox .weather-item p {
    font-size: 20px;
    font-weight: bold;
}




/*********** RESPONSIVE *************/
@media screen and (max-width:912px) {
    .section__searchField button {
        width: 55px;
    }
    
}
@media screen and (max-width:769px) {
    .section__searchField button {
        width: 60px;
    }
    
}

@media screen and (max-width:365px) {
    .section__weatherBox .weather-item span {
        font-size: 14px;

    }

}

@media screen and (max-width:325px) {
    .section__weatherTemperature .date {
        font-size: 18px;


    }
    .section__searchField button {
        width: 70px;
    }

    .section__weatherBox .weather-item span {
        font-size: 12px;

    }

    .section__weatherTemperature .temp {
        font-size: 60px;

    }

    .section__weatherBox .weather-item p {
        font-size: 16px;
    }


}

@media screen and (max-width: 280px) {
    .section__weatherTemperature .date {
        font-size: 16px;


    }
    .section__weatherTemperature .temp {
        font-size: 44px;

    }
    .section__weatherBox .weather-item span {
        font-size: 9px;

    }
    .section__weatherBox .weather-item p {
        font-size: 15px;
    }
  
    
}




@media screen and (min-width:768px) {
    main {
        padding: 40px 100px;
    }
    .error__message {
        width: 60%;
        padding: 80px 20px;
    }
    .section__weatherTemperature .location {
        padding: 60px 0 0;
    }
    .section__weatherBox {
        margin-top:40px;
    }


    
}

@media screen and (min-width:1024px) {
    main {
        padding: 60px 200px;
    }
    .section__weatherTemperature .location {
        padding: 60px 0 0;
    }
    .section__weatherBox {
        margin-top:40px;
    }


    
}